<div class="d-flex justify-content-center align-items-center">
<h1>Welcome to Aerleads</h1>
</div>
<div class="d-flex justify-content-center align-items-center">
<h3>Click on Register to create your Account</h3>
</div>